<div class="admin">
    <div class="admin-header">
        <h1>Hapi's Sweet Home</h1>
    </div>

    <div class="admin-content">
        <a href="/admin/create">Create Post</a>
        <a href="">Edit Post</a>
        <a href="/admin/manage">Manage Posts</a>
    </div>
</div>



<style>
    .admin-header{
        width: 100%;
        height: 80px;
        background-color: rgb(22, 114, 175);
    }

    h1{
        color: rgb(16, 15, 15);
        line-height: 80px;
        margin-left: 20px;
        font-family: Kreeone2;
    }

    .admin-content{
        margin-top: 100px;
        text-align: center;
    }

    a{
        margin: 0 20px;
        text-decoration: none;
        font-size: 30px;
        color: rgb(0, 0, 0);
        min-width: 1000px;
    }



    .header{
        display: none;
    }
    .footer{
        display: none;
    }
</style>