@font-face {
  font-family: Kleeone1;
  src: url("../fonts/KleeOne-Regular.ttf"); }

@font-face {
  font-family: Kleeone2;
  src: url("../fonts/KleeOne-SemiBold.ttf"); }

@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata-VariableFont_wdth,wght.ttf"); }

@font-face {
  font-family: OpenSansI;
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf"); }

@font-face {
  font-family: OpenSansN;
  src: url("../fonts/OpenSansCondensed-Light.ttf"); }

@font-face {
  font-family: OpenSansRLI;
  src: url("../fonts/OpenSans-LightItalic.ttf"); }

@font-face {
  font-family: OpenSansB;
  src: url("../fonts/OpenSans-SemiBold.ttf"); }

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora-VariableFont_wght.ttf"); }

@font-face {
  font-family: Exo2;
  src: url("../fonts/Exo2-VariableFont_wght.ttf"); }

* {
  margin: 0;
  box-sizing: border-box; }

html {
  background-color: #f0cdc0;
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth; }

.navbar {
  transition: 2s;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.search-bar {
  line-height: 50px;
  margin-left: 100px;
  flex: 1; }

.search-icon {
  text-align: center; }

.search-input {
  border: 1px solid #fff;
  font-family: Exo2; }

.navbar-list {
  align-items: center;
  flex: 2; }

.navbar-items {
  text-decoration: none;
  flex-basis: 30%;
  color: black;
  display: inline-block;
  margin: 0 50px;
  line-height: 30px;
  width: 75px;
  text-align: center; }

.navbar-items:hover {
  background-color: rgba(60, 59, 60, 0.16);
  border-radius: 5px; }

.navbar-items > h5 {
  font-family: OpenSansN;
  font-size: 18px; }

.navbar-user {
  margin-right: 50px;
  font-size: 26px;
  color: #060110; }

.menu-icon {
  display: none; }

.cover-img {
  width: 30%;
  height: 300px;
  background-size: contain;
  object-fit: cover;
  object-position: left; }

.header__introduce {
  /* margin-top: 46px; */
  padding-top: 50%;
  background: url("../img/cover.jpg") top center/cover no-repeat;
  position: relative; }
  .header__introduce #brand {
    color: #1c1a1a;
    position: absolute;
    top: 50px;
    font-family: Kleeone2;
    font-size: 36px;
    width: 100%;
    text-align: center;
    transition: 2s;
    animation: fadein 2s; }
  .header__introduce #brand__description {
    position: absolute;
    top: 120px;
    font-style: italic;
    width: 100%;
    text-align: center;
    font-family: Kleeone2;
    font-size: 16px;
    word-spacing: 2px;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadein 2s forwards; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-100px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.content {
  padding-top: 100px;
  /* height: 500px; */ }

.content-list {
  list-style: none; }

.content-item {
  display: flex;
  align-items: center;
  margin-left: 16%;
  margin-bottom: 16px; }

.post-img {
  width: 200px;
  min-height: 180px;
  border: 10px solid #f3f3f3;
  border-radius: 30px;
  /* outline: 1px solid rgb(0, 0, 0); */ }

.post-content {
  margin-left: 30px;
  margin-top: -50px;
  width: 400px; }

.post-title {
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 36px;
  font-family: OpenSansN;
  text-transform: inherit;
  color: #102329;
  text-decoration: none; }

.post-title:hover {
  color: #06467e; }

.post-description {
  margin-top: 8px;
  font-family: OpenSansRLI;
  font-weight: 200;
  font-size: 18px;
  color: #5a5a5a; }

#see-all {
  float: right;
  margin-right: 30%;
  margin-top: -10px;
  text-decoration: none;
  height: 36px;
  width: 80px;
  text-align: center;
  line-height: 36px;
  color: honeydew;
  border-radius: 8px;
  font-style: bold;
  font-family: Exo2;
  box-shadow: 6px 6px 6px -4px black;
  background-color: black; }

#see-all:hover {
  background: #1e1e1e; }

.footer_contact {
  display: block; }

.footer {
  height: 600px;
  margin-top: 60px;
  background-color: #aea5e8;
  border-radius: 5px;
  margin-bottom: 60px; }

.subscribe {
  text-align: center;
  padding-top: 30px;
  font-family: Exo2; }

.form {
  width: 80%;
  height: 430px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  border: thin solid #0c0909;
  box-shadow: 1px 1px 2px 2px black; }

.child-form {
  margin-top: 30px; }

.form-items {
  margin-left: 10%;
  margin-bottom: 20px; }

.form-items__text {
  min-width: 80px;
  margin-bottom: 8px;
  font-family: Exo2; }

.form-items__input {
  width: 90%;
  outline: none; }

#message-input {
  height: 160px;
  resize: none; }

#send_email_btn {
  width: 80px;
  height: 36px;
  font-size: 21px;
  margin-left: 75%;
  text-align: center;
  font-family: OpenSansN;
  color: #ffffff;
  background: #141415;
  padding: 0;
  border-radius: 5px;
  box-shadow: 6px 6px 12px -4px black; }

#send_email_btn:hover {
  opacity: 0.96;
  cursor: pointer; }

.contact {
  height: 60px; }

.contact__items {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: OpenSansN;
  letter-spacing: 1px; }

.contact__items-copyright {
  margin-bottom: 12px; }

.contact__items-social {
  word-spacing: 12px;
  font-size: 21px;
  padding-bottom: 30px; }

.contact__facebook {
  color: #4b4bee;
  text-decoration: none; }

.contact__instagram {
  color: #00f5e1;
  text-decoration: none; }

.contact__youtube {
  color: #f22121;
  text-decoration: none; }

.blog-title {
  margin-top: 60px; }

.blog-logo {
  text-align: center;
  font-family: OpenSansN;
  margin-bottom: 80px;
  font-size: 50px; }

.view-post__header {
  text-align: center; }

#view-post__title {
  margin: 0 auto;
  margin-top: 21px;
  font-size: 50px;
  display: block;
  max-width: 86%;
  font-family: OpenSansN;
  letter-spacing: 0.5px; }

#view-post__description {
  margin: 0 auto;
  font-family: OpenSansRLI;
  text-align: center;
  margin-top: 21px;
  font-size: 18px;
  max-width: 86%; }

#view-post__img {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 26px; }

#view-post__img > img {
  width: 90%;
  height: auto; }

.view_post__content {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-family: Exo2;
  font-size: 18px;
  text-align: justify; }

.menu-icon_list {
  opacity: 0; }

.go_home > a {
  position: fixed;
  top: 93.9vh;
  right: 6px;
  color: #000;
  font-size: 30px;
  opacity: 0.2; }

.go_home > a:hover {
  opacity: 0.8; }

.end-post {
  margin-top: 31px;
  text-align: center;
  font-family: Keeone1; }

.suggest-post {
  display: block;
  text-align: center;
  background-color: #000;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  margin-top: 50px;
  margin-right: 21px;
  line-height: 36px;
  border-radius: 5px; }

.suggest-post_item {
  text-decoration: none;
  color: #fff;
  font-family: Exo2;
  font-style: initial; }

.suggest-post:hover {
  background-color: rgba(22, 21, 21, 0.96);
  cursor: pointer; }
