@font-face {
  font-family: Kleeone1;
  src: url("../fonts/KleeOne-Regular.ttf"); }

@font-face {
  font-family: Kleeone2;
  src: url("../fonts/KleeOne-SemiBold.ttf"); }

@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata-VariableFont_wdth,wght.ttf"); }

@font-face {
  font-family: OpenSansI;
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf"); }

@font-face {
  font-family: OpenSansN;
  src: url("../fonts/OpenSansCondensed-Light.ttf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: OpenSansRLI;
  src: url("../fonts/OpenSans-LightItalic.ttf"); }

@font-face {
  font-family: OpenSansB;
  src: url("../fonts/OpenSans-SemiBold.ttf"); }

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora-VariableFont_wght.ttf"); }

@font-face {
  font-family: Exo2;
  src: url("../fonts/Exo2-VariableFont_wght.ttf"); }

@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Regular.ttf"); }

@font-face {
  font-family: Josefin Sans;
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf"); }

@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-Regular.ttf"); }

* {
  margin: 0;
  box-sizing: border-box; }

html {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth; }

.navbar {
  transition: 2s;
  height: 50px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 0px 0px #ccc; }

.search-bar {
  line-height: 50px;
  margin-left: 100px;
  flex: 1; }

.search-icon {
  text-align: center; }

.search-input {
  border: 1px solid #fff;
  font-family: Exo2; }

.navbar-list {
  align-items: center;
  flex: 2; }

.navbar-items {
  text-decoration: none;
  flex-basis: 30%;
  color: black;
  display: inline-block;
  margin: 0 50px;
  line-height: 30px;
  width: 75px;
  text-align: center;
  border-bottom: 3px solid #fcfcfc; }

.navbar-items:hover {
  border-bottom: 3px solid #000;
  transform: translateY(-5px); }

.navbar-items > h5 {
  font-family: OpenSansN;
  font-size: 18px; }

.navbar-user {
  margin-right: 50px;
  font-size: 26px;
  color: #060110; }

.menu-icon {
  display: none; }

.header__introduce {
  padding-top: 50%;
  background: url("../img/cover.jpg") top center;
  background-repeat: no-repeat;
  background-size: 100% 82%;
  height: 100px;
  position: relative; }
  .header__introduce #brand {
    color: #1c1a1a;
    position: absolute;
    top: 50px;
    font-family: Kleeone2;
    font-size: 36px;
    width: 100%;
    text-align: center;
    transition: 2s;
    animation: fadein 2s; }
  .header__introduce #brand__description {
    position: absolute;
    top: 120px;
    font-style: italic;
    width: 100%;
    text-align: center;
    font-family: Kleeone2;
    font-size: 16px;
    word-spacing: 2px;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadein 2s forwards; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-100px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.container {
  overflow: hidden; }

.content-items {
  height: 500px;
  background-image: linear-gradient(0, rgba(48, 211, 94, 0.5), rgba(53, 28, 194, 0.5));
  border-radius: 12px;
  margin: 32px 8px; }

.content-img {
  height: 300px;
  margin-top: 21px; }

.content-img img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border: 3px solid #fff; }

.content-text {
  height: 200px;
  margin-top: 8px; }

.content-text__title {
  text-decoration: none;
  font-family: OpenSansN;
  text-align: justify;
  font-size: 21px;
  color: #000; }

.content-text__description {
  font-family: OpenSansRLI;
  margin-top: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

#see-all {
  float: right;
  margin-right: 10%;
  text-decoration: none;
  height: 32px;
  width: 80px;
  font-size: 21px;
  text-align: center;
  line-height: 36px;
  color: #5178e4;
  border-radius: 2px;
  font-style: oblique;
  border-bottom: 2px solid white;
  font-style: bold;
  font-family: Exo2; }

#see-all:hover {
  transform: translateY(-3px); }

.footer {
  display: block;
  height: 300px;
  margin-top: 100px;
  background-color: rgba(128, 185, 218, 0.809);
  box-shadow: 0px 0px 2px 0px black; }

.footer__items {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
  font-family: OpenSansN;
  letter-spacing: 1px; }

.footer__items-copyright {
  margin-bottom: 12px; }

.footer__items-social {
  word-spacing: 12px;
  font-size: 21px;
  padding-bottom: 30px; }

.footer__facebook {
  color: #4b4bee;
  text-decoration: none; }

.footer__instagram {
  color: #00f5e1;
  text-decoration: none; }

.footer__youtube {
  color: #f22121;
  text-decoration: none; }

.blog-title {
  margin-top: 60px;
  text-align: center;
  font-family: OpenSansN;
  margin-bottom: 80px;
  font-size: 32px; }

.blog-content__item {
  height: 200px;
  margin-bottom: 62px; }

.blog-content-img img {
  width: 100%;
  height: 200px;
  border: 2px solid #434040;
  border-radius: 10px; }

.blog-content__text {
  margin: 8px 0; }

.blog-content__title {
  text-decoration: none;
  font-family: OpenSansN;
  font-size: 26px;
  color: #000; }

.blog-content__description {
  font-family: OpenSansRLI; }

.view-post__header {
  text-align: center; }

#view-post__title {
  margin: 0 auto;
  margin-top: 21px;
  font-size: 50px;
  display: block;
  max-width: 86%;
  font-family: OpenSansN;
  letter-spacing: 0.5px; }

#view-post__description {
  margin: 0 auto;
  font-family: OpenSansRLI;
  text-align: center;
  margin-top: 21px;
  font-size: 18px;
  max-width: 86%; }

#view-post__img {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 26px; }

#view-post__img > img {
  width: 90%;
  height: auto; }

.view_post__content {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-family: Josefin Sans;
  font-size: 20px;
  text-align: justify;
  line-height: 26px; }

.menu-icon_list {
  display: none; }

.go_home.show {
  display: block; }

.go_home > a {
  color: #000; }

.go_home {
  display: none;
  position: fixed;
  top: 93.9vh;
  right: 6px;
  font-size: 36px;
  animation: arrowFadeIn ease 1s; }

@keyframes arrowFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.go_home:hover {
  opacity: 1; }

.end-post {
  margin-top: 31px;
  text-align: center;
  font-family: Keeone1; }

.suggest-post {
  display: block;
  text-align: center;
  background-color: #000;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  margin-top: 50px;
  margin-right: 21px;
  line-height: 36px;
  border-radius: 5px; }

.suggest-post_item {
  text-decoration: none;
  color: #fff;
  font-family: Exo2;
  font-style: initial; }

.suggest-post:hover {
  background-color: rgba(22, 21, 21, 0.96);
  cursor: pointer; }

.col.l-8.l-o-2 {
  display: none; }

#show-more {
  float: right;
  line-height: 28px;
  width: 80px;
  font-family: OpenSans;
  background-color: white;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 3px;
  border: 2px solid #000; }

#show-more:hover {
  background-color: #302c2c;
  color: blanchedalmond;
  border: 2px solid #302c2c;
  transition: 0.4s; }
