/* PC */
@media(min-width: 64em){
    .form{
        width: 500px;
    }

    .navbar-items{
        margin: 0 30px;
    }
}

/*Tablet & Mobile*/
@media(max-width:63.9375em){

    
   
}

    

/* Tablet */
@media(min-width: 46.25em) and (max-width:63.9375em){

    .navbar-items{
        margin: 0 16px;
    }

    .search-bar{
        margin-left: 20px;
    }

    .navbar-user{
        margin-right: 20px;
    }

    .content-item{
        margin-left: 2%;
    }

    #see-all{
        margin-right: 8%;
    }
}

/* Mobile */
@media(max-width: 46.1875em){


    html{
        scroll-behavior: smooth;
    }

    .search-bar{
        margin-left: 20px;
        height: 50px;
        width: 200px;
    }

    .search-input{
        height: 20px;
    }

    
    .navbar-list{
        display: none;
    }

    

    .navbar-user{
        display: none;
    }

    
    
    .menu-icon{
        display: block;
        font-size: 26px;
        margin-right: 20px;
        cursor: pointer;
    }

    .menu-icon:hover{
        opacity: 0.5;
    }
    
    .menu-icon_list.open{
        opacity: 1;
        animation: menu-FadeIn ease 1s;
    }

    .menu-icon_list.close{
        animation: menu-FadeOut ease 1s;
    }

    

    .menu-icon_list{
        background-color: #fff;
        width: 250px;
        height: 300px;
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        text-align: center;
        border: 1px solid rgb(243, 216, 216);
        box-shadow: 10px 10px 10px -10px #000;
        
        
    }
    .striped-border{
        border: 1px solid rgba(245, 235, 235, 0.864);
        width: 92%; margin: auto;
    }

    .menu-icon_items{
        list-style: none;
        padding-left: 0px;
        width: 100%;
    }
    
    @keyframes menu-FadeIn {
        from {
            opacity: 0;
            transform: translateX(300px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
        
    }

    @keyframes menu-FadeOut {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(300px);
        }
        
    }

    .menu-icon_items-name{
        display:block
    }

    .menu-icon_items-name > a{
        font-size: 22px;
        line-height: 50px;
        text-decoration: none;
        font-family: Exo2;
        color: rgb(0, 0, 0);
        margin: 0 auto;
        cursor: pointer;
    }

    .menu-icon_items-name:hover{
        background-color: cornflowerblue;
    }


    #brand{
        font-size: 26px;
        margin-top: 28px;
        letter-spacing: 1.2px;
    }

    #brand__description{
        font-size: 15px;
    }

    

    .content-list{
        padding-left: 8px;
    }

    .content-item{
        margin-left: 0px;
        margin-bottom: 60px;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }

    

    .post-content{
        display: block;
        width: 250px;
        height: auto;
        margin: 0 12px;
        /* position: absolute; */
        /* bottom: 10px;
        left: 82px; */
    }

    .post-img{
        width: 300px;
        height: 300px;
        /* opacity: 0.8; */
        
    }

    .post-title{
        font-size: 22px;
        /* width: 250px; */
        /* text-transform: uppercase; */
        font-family:OpenSansN;
    }

    .post-description{
        display: none;
    }


    #send_email_btn{
        margin-left: 70%;
    }

    #see-all{
        margin-right: 6%;
    }

    .footer{
        margin-top: 100px;
    }

    .go_home > a{
        top: 90vh;
    }

    .suggest-post{
        margin-bottom: -60px;
    }

    
    .contact__items{
        width: 56%;
    }

    
}