  <div class="footer">
    <h2 class="subscribe">Send to me!</h2>
    <div class="form">
        <div class="child-form">
            <div class="form-items">
                <p class="form-items__text" for="">Name</p>
                <input class="form-items__input" type="text">
            </div>
            
            <div class="form-items">
                <p class="form-items__text" for="">Email</p>
                <input class="form-items__input" type="email">
            </div>

            <div class="form-items">
                <p class="form-items__text"  for="">Message</p>
                <input class="form-items__input" id="message-input" type="text">
            </div>
        </div>
        <button id= "send_email_btn">Send</button>
    </div>
</div>

<div class="contact">
    <div class="contact__items">
        <div class="contact__items-copyright">
            <label for="">Webstite: </label>
            <a class="contact__website "href="">hapisweethome.com</a>
            <i class="far fa-copyright "></i>
        </div>

        <div class="contact__items-social">
            <a href="" class="contact__facebook">
                <i class="fab fa-facebook "></i>
            </a>

            <a href="" class="contact__instagram">
                <i class="fab fa-instagram  "></i>
            </a>

            <a href="" class="contact__youtube">
                <i class="fab fa-youtube  "></i>
            </a>

        </div>
    </div>
    
            
</div>