
<div class="view-post">
    <div class="view-post__header">
        <h1 id="view-post__title">{{post.title}}</h1>
        <h4 id="view-post__description">{{post.description}}</h4>
    </div>
    <div id="view-post__img">
        <img src="{{post.image}}" alt="">
    </div>
    <span class="view_post__content" style="white-space: pre-line">{{post.content}}</span>
</div>

<div class="end-post">
    <span>---------------------END---------------------</span>
</div>

<div class="suggest-post">
    <a href="/posts" class="suggest-post_item">More Blogs</a>
</div>